@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Thin.woff2") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fontsyekanbakh/YekanBakhFaNum-ExtraLight.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Light.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Regular.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Medium.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-SemiBold.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Bold.woff2") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-ExtraBold.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Black.woff2") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  direction: rtl;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "yekanbakhweb" !important;
  margin: 0;
  direction: rtl !important;
  overflow-x: hidden !important;
  width: 100% !important;
  font-size: 15px;
  padding: 0;
}

.mainView {
  max-width: 1180px;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1280px) {
  .mainView {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: "yekanbakhweb" !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #28382d !important;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

svg {
  display: block;
}

.lowMargined {
  margin: 7px 0;
}

.mediumMargined {
  margin: 15px 0;
}

.highMargined {
  margin: 30px 0;
}

.extraHighMargined {
  margin: 60px 0;
}

.lowPadding {
  padding: 7px;
}

.mediumPadding {
  padding: 15px;
}

.highPadding {
  padding: 30px;
}

.sectionPadding {
  padding: 50px 0;
}

.centeredText {
  text-align: center;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.generalHeading h1, .generalHeading h2, .generalHeading h3, .generalHeading h4, .generalHeading h5, .generalHeading h6 {
  margin: 0;
}
.generalHeading span {
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
  display: block;
}

.bigHeading h1, .bigHeading h2, .bigHeading h3, .bigHeading h4, .bigHeading h5, .bigHeading h6 {
  font-size: 35px;
}
.bigHeading span {
  font-size: 18px;
}

.mediumWeight {
  font-weight: 500;
}

p {
  line-height: 27px;
  color: #7d887b;
  margin-top: 0;
  margin-bottom: 20px;
}

.justified {
  text-align: justify;
}

.lightParagraph {
  font-weight: 300;
}

.colorChangeTxt {
  color: #F27267;
}

.lightText {
  color: #4c7a4e;
}

.darkText {
  color: #455c46;
}

.smallText {
  font-size: 13px;
}

.smallerText {
  font-size: 12px;
}

.lowRadius {
  border-radius: 8px;
}

.highRadius {
  border-radius: 15px;
}

.bottomBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.darkBorder {
  border: 1px solid #28382d;
}

.lightBorder {
  border: 1px solid #7d887b;
}

.lighterBorder {
  border: 1px solid #025D68;
}

button {
  font-family: "yekanbakhweb" !important;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #025D68;
}
table th {
  text-align: right;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 12px;
}
table tr:nth-child(2n+1) {
  background-color: rgba(226, 229, 252, 0.3);
}
table td {
  font-size: 15px;
  padding: 8px 4px;
  font-weight: 400;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 15px 10px;
}
table td strong {
  font-weight: 600;
}

a, a:visited {
  text-decoration: none;
  color: #28382d;
}

li {
  list-style-type: none;
  margin: 7px 0;
  position: relative;
  padding-right: 10px;
}
li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #F27267;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}

span {
  display: block;
  color: #28382d;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  width: 100%;
  font-family: "yekanbakhweb" !important;
}

input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-family: "yekanbakhweb" !important;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url] {
  border: none;
  background-color: transparent;
  color: #28382d;
  font-size: 14px;
  border-bottom: 1px solid #28382d;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder {
  color: #7d887b;
  opacity: 0.25;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=url]:-moz-placeholder {
  color: #7d887b;
  opacity: 0.25;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder {
  color: #7d887b;
  opacity: 0.25;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder {
  color: #7d887b;
  opacity: 0.25;
}
input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
input[type=submit] {
  background-color: #F27267;
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 30px;
  font-size: 14px;
  font-family: "yekanbakhweb" !important;
  width: -moz-max-content;
  width: max-content;
}
input[type=submit]:hover {
  transform: scale(1.1);
}
input:focus {
  outline: none;
}

textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  resize: none;
  background-color: transparent;
  border: none;
  color: #28382d;
  font-size: 14px;
  border-bottom: 1px solid #28382d;
}
textarea::-webkit-input-placeholder {
  color: #7d887b;
  opacity: 0.25;
}
textarea:-moz-placeholder {
  color: #7d887b;
  opacity: 0.25;
}
textarea::-moz-placeholder {
  color: #7d887b;
  opacity: 0.25;
}
textarea:-ms-input-placeholder {
  color: #7d887b;
  opacity: 0.25;
}
textarea:focus {
  outline: none;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #d5d5d5;
  font-family: "yekanbakhweb";
  background-color: transparent;
}
select option {
  font-family: "yekanbakhweb";
}

.generalButton {
  background-color: transparent;
  border-radius: 30px;
  position: relative;
  color: #28382d !important;
  padding: 7px 15px;
  font-size: 14.5px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.4s;
  border: 1px solid #F27267;
  font-weight: 600;
  cursor: pointer;
}
.generalButton:hover {
  transform: scale(1.1);
}

.bgColor {
  background-color: #F27267;
  color: white !important;
  border: 1px solid #F27267;
}

.fillButton {
  background-color: #F27267;
  color: #fff !important;
  border: none;
}
.fillButton:hover {
  transform: scale(1.2);
}

.borderNoneButton {
  border: none;
  color: #28382d !important;
  background-color: transparent;
}
.borderNoneButton:hover {
  background-color: unset;
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
}

.lightbg {
  background-color: #025D68;
}

.entry-header {
  width: 100%;
  height: 240px;
  background-color: #025D68;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.entry-header h1, .entry-header span {
  color: white !important;
}

.singlePageMain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  transform: translateY(-180px);
  padding: 60px;
}
.singlePageMain .breadcrumbs span {
  display: inline-block;
}
.singlePageMain .commentsAndView {
  display: flex;
  background-color: black;
  border-radius: 30px;
  padding: 0 10px;
}
.singlePageMain .commentsAndView div {
  padding: 10px;
}
.singlePageMain .commentsAndView .commentsCount {
  border-left: 1px solid white;
}
.singlePageMain .commentsAndView span, .singlePageMain .commentsAndView a {
  color: white !important;
}
.singlePageMain .singlePageRightBox {
  width: 70%;
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  font-size: 0;
}
@media screen and (max-width: 380px) {
  .singlePageMain .singlePageRightBox .shortendedLinkContainer {
    padding: 0;
  }
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer h3 {
  font-size: 14px;
  font-weight: 800;
  color: #002d64;
  margin: 5px 0 15px 0;
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
}
@media screen and (max-width: 380px) {
  .singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo .theAddressURL {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  background-color: #ededed;
  padding: 10px 20px;
}
@media screen and (max-width: 380px) {
  .singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo .theAddressURL {
    width: 65%;
    padding: 5px;
  }
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo input[type=button] {
  background-color: #F27267;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
@media screen and (max-width: 380px) {
  .singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo input[type=button] {
    width: 35%;
    padding: 5px;
  }
}
.singlePageMain .singlePageRightBox .copyLinkMessage {
  font-size: 13px;
  position: absolute;
  right: 383px;
  width: -moz-max-content;
  width: max-content;
  background-color: #e1efff;
  padding: 5px 10px;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 85px;
  height: -moz-max-content;
  height: max-content;
  color: #3e4751;
  display: none;
}
.singlePageMain .singlePageRightBox .copyLinkMessage::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #e1efff;
  left: 100%;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (max-width: 768px) {
  .singlePageMain .singlePageRightBox .copyLinkMessage::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #e1efff;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .singlePageMain .singlePageRightBox .copyLinkMessage {
    right: auto;
    left: 0;
    top: auto;
    bottom: calc(100% + 15px);
  }
}
.singlePageMain .singlePageLeftBox {
  margin-top: 50px;
  position: sticky;
  height: -moz-max-content;
  height: max-content;
  bottom: auto;
  top: 230px;
}
@media screen and (max-width: 768px) {
  .singlePageMain {
    flex-direction: column;
  }
  .singlePageMain .singlePageRightBox {
    width: 100%;
  }
}

.comments-area {
  background-color: #fff;
  padding: 10px;
  border-radius: 7px;
  max-width: 1180px;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1280px) {
  .comments-area {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.comments-area .innerComments {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .comments-area .innerComments {
    width: 100%;
  }
}
.comments-area a, .comments-area a:visited {
  font-weight: bold;
  transition: all 0.3s;
}
.comments-area a:hover, .comments-area a:visited:hover {
  color: #7c510d;
}
.comments-area .comment-reply-title {
  font-size: 13px;
  font-weight: bold;
  color: #F27267 !important;
  text-align: center;
  padding: 7px 0;
  margin: 5px 0;
  border-radius: 7px;
}
.comments-area .form-submit input[type=submit] {
  font-size: 13px;
  font-weight: bold;
  background-color: #F27267;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 7px;
}
.comments-area .comment-form p {
  line-height: 35px !important;
}
.comments-area form {
  font-size: 13px;
  padding: 5px 15px;
  border: 1px solid #CECECE;
  background-color: #fff;
  border-radius: 7px;
}
.comments-area form label {
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
}
.comments-area form input[type=text], .comments-area form input[type=email], .comments-area form input[type=url] {
  background-color: #fff;
  border: none;
  width: 100%;
  padding: 7px;
  border: 1px solid #CECECE;
  border-radius: 7px;
}
.comments-area form textarea {
  background-color: #fff;
  border: none;
  width: 100%;
  padding: 7px;
  resize: none;
  border: 1px solid #CECECE;
  border-radius: 7px;
}
.comments-area form .comment-form-cookies-consent {
  display: flex;
}

.comment-list {
  list-style-type: none;
  margin-right: 0;
  padding-right: 0;
}
.comment-list .says {
  margin-right: 3px;
}
.comment-list li::before {
  content: none;
}
.comment-list article {
  background-color: #fff;
  padding: 10px;
  font-size: 13px;
  border: 1px solid #CECECE;
  border-radius: 7px;
  margin-bottom: 5px;
}
.comment-list article a, .comment-list article a:visited {
  font-weight: bold;
  transition: all 0.3s;
}
.comment-list article a:hover, .comment-list article a:visited:hover {
  color: #7c510d;
}
.comment-list ol {
  list-style-type: none;
  margin-right: 0;
  padding-right: 0;
}
.comment-list .comment-author {
  display: flex;
  align-items: center;
}
.comment-list .comment-author img {
  border-radius: 100%;
  margin-left: 5px;
}

.aboutPagk {
  text-align: center;
}
.aboutPagk .sectionOne {
  margin: 50px 100px;
}
.aboutPagk .sectionOne p {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
.aboutPagk .sectionTwo {
  background-color: #FFFFFF;
  background-image: url(https://absolutecarehealth.com.au/wp-content/uploads/2023/03/Community-engagement-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px 150px 0px;
}
.aboutPagk .sectionTwo .sectionTwoText {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7803921569);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 35px 35px 35px 35px;
  text-align: right;
}
.aboutPagk .sectionThree {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
.aboutPagk .sectionThree .sectionThreeText, .aboutPagk .sectionThree .sectionThreeImg {
  width: 50%;
  padding: 10px;
  text-align: right;
}
.aboutPagk .sectionFour {
  background-color: #025D68;
}
.aboutPagk .sectionFour .innerSectionFour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 50px 0px;
}
.aboutPagk .sectionFour .innerSectionFour h2 {
  color: white !important;
  width: 45%;
  text-align: right;
}/*# sourceMappingURL=style-rtl.css.map */