@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Thin.woff2") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fontsyekanbakh/YekanBakhFaNum-ExtraLight.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Light.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Medium.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-SemiBold.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-ExtraBold.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Black.woff2") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  direction: rtl;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "yekanbakhweb" !important;
  margin: 0;
  direction: rtl !important;
  overflow-x: hidden !important;
  width: 100% !important;
  font-size: 15px;
  padding: 0;
}

.mainView {
  max-width: 1180px;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1280px) {
  .mainView {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: "yekanbakhweb" !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #28382d !important;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

svg {
  display: block;
}

.lowMargined {
  margin: 7px 0;
}

.mediumMargined {
  margin: 15px 0;
}

.highMargined {
  margin: 30px 0;
}

.extraHighMargined {
  margin: 60px 0;
}

.lowPadding {
  padding: 7px;
}

.mediumPadding {
  padding: 15px;
}

.highPadding {
  padding: 30px;
}

.sectionPadding {
  padding: 50px 0;
}

.centeredText {
  text-align: center;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.generalHeading h1, .generalHeading h2, .generalHeading h3, .generalHeading h4, .generalHeading h5, .generalHeading h6 {
  margin: 0;
}
.generalHeading span {
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
  display: block;
}

.bigHeading h1, .bigHeading h2, .bigHeading h3, .bigHeading h4, .bigHeading h5, .bigHeading h6 {
  font-size: 35px;
}
.bigHeading span {
  font-size: 18px;
}

.mediumWeight {
  font-weight: 500;
}

p {
  line-height: 27px;
  color: #7d887b;
  margin-top: 0;
  margin-bottom: 20px;
}

.justified {
  text-align: justify;
}

.lightParagraph {
  font-weight: 300;
}

.colorChangeTxt {
  color: #009b8c;
}

.lightText {
  color: #4c7a4e;
}

.darkText {
  color: #455c46;
}

.smallText {
  font-size: 13px;
}

.smallerText {
  font-size: 12px;
}

.lowRadius {
  border-radius: 8px;
}

.highRadius {
  border-radius: 15px;
}

.bottomBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.darkBorder {
  border: 1px solid #28382d;
}

.lightBorder {
  border: 1px solid #7d887b;
}

.lighterBorder {
  border: 1px solid #505050;
}

button {
  font-family: "yekanbakhweb" !important;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #505050;
}
table th {
  text-align: right;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 12px;
}
table tr:nth-child(2n+1) {
  background-color: rgba(226, 229, 252, 0.3);
}
table td {
  font-size: 15px;
  padding: 8px 4px;
  font-weight: 400;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 15px 10px;
}
table td strong {
  font-weight: 600;
}

a, a:visited {
  text-decoration: none;
  color: #28382d;
}

li {
  list-style-type: none;
  margin: 7px 0;
  position: relative;
  padding-right: 10px;
}
li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #009b8c;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}

span {
  display: block;
  color: #28382d;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  width: 100%;
  font-family: "yekanbakhweb" !important;
}

input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-family: "yekanbakhweb" !important;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url], input[type=date] {
  border: none;
  background-color: transparent;
  color: #28382d;
  font-size: 14px;
  border-bottom: 1px solid #28382d;
  direction: rtl !important;
  background-color: #EDEDED;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder, input[type=date]::-webkit-input-placeholder {
  color: #7d887b;
  opacity: 1;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=url]:-moz-placeholder, input[type=date]:-moz-placeholder {
  color: #7d887b;
  opacity: 1;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=date]::-moz-placeholder {
  color: #7d887b;
  opacity: 1;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder {
  color: #7d887b;
  opacity: 1;
}
input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
input[type=submit] {
  font-weight: 600 !important;
  cursor: pointer !important;
  transition: all 0.4s !important;
  font-family: "yekanbakhweb" !important;
  width: -moz-max-content !important;
  width: max-content !important;
  font-size: 13px !important;
  background-color: #009b8c !important;
  color: #fff !important;
  padding: 8px 20px !important;
  border-radius: 7px !important;
  border: none !important;
  margin-top: 20px !important;
}
input[type=submit]:hover {
  transform: scale(1.1) !important;
}
input:focus {
  outline: none;
}

textarea {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  resize: none;
  background-color: transparent;
  border: none;
  color: #28382d;
  font-size: 14px;
  border-bottom: 1px solid #28382d;
  border: none;
  background-color: transparent;
  color: #28382d;
  font-size: 14px;
  border-bottom: 1px solid #28382d;
  direction: rtl !important;
  background-color: #EDEDED;
  border: none;
  border-radius: 8px;
}
textarea::-webkit-input-placeholder {
  color: #7d887b;
  opacity: 1;
}
textarea:-moz-placeholder {
  color: #7d887b;
  opacity: 1;
}
textarea::-moz-placeholder {
  color: #7d887b;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  color: #7d887b;
  opacity: 1;
}
textarea:focus {
  outline: none;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #d5d5d5;
  font-family: "yekanbakhweb";
  background-color: transparent;
}
select option {
  font-family: "yekanbakhweb";
}

.generalButton {
  background-color: transparent;
  border-radius: 30px;
  position: relative;
  color: #28382d !important;
  padding: 7px 15px;
  font-size: 14.5px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.4s;
  border: 1px solid #009b8c;
  font-weight: 600;
  cursor: pointer;
}
.generalButton:hover {
  transform: scale(1.1);
}

.bgColor {
  background-color: #009b8c;
  color: white !important;
  border: 1px solid #009b8c;
}

.fillButton {
  background-color: #009b8c;
  color: #fff !important;
  border: none;
}
.fillButton:hover {
  transform: scale(1.2);
}

.borderNoneButton {
  border: none;
  color: #28382d !important;
  background-color: transparent;
}
.borderNoneButton:hover {
  background-color: unset;
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
}

.lightbg {
  background-color: #505050;
}

.show {
  display: inline-block !important;
}

.entry-header {
  width: 100%;
  height: 240px;
  background-color: #505050;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.entry-header h1, .entry-header span {
  color: white !important;
}

.singlePageMain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 60px;
}
.singlePageMain .breadcrumbs span {
  display: inline-block;
}
.singlePageMain .commentsAndView {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  background-color: black;
  border-radius: 30px;
  padding: 0 10px;
}
.singlePageMain .commentsAndView div {
  padding: 10px;
}
.singlePageMain .commentsAndView .commentsCount {
  border-left: 1px solid white;
}
.singlePageMain .commentsAndView span, .singlePageMain .commentsAndView a {
  color: white !important;
}
.singlePageMain .singlePageRightBox {
  width: 70%;
}
@media screen and (max-width: 480px) {
  .singlePageMain .singlePageRightBox h1 {
    font-size: 32px;
  }
}
.singlePageMain .singlePageRightBox img {
  border-radius: 15px;
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  font-size: 0;
}
@media screen and (max-width: 380px) {
  .singlePageMain .singlePageRightBox .shortendedLinkContainer {
    padding: 0;
  }
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer h3 {
  font-size: 14px;
  font-weight: 800;
  color: #002d64;
  margin: 5px 0 15px 0;
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
}
@media screen and (max-width: 380px) {
  .singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo .theAddressURL {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  background-color: #ededed;
  padding: 10px 20px;
}
@media screen and (max-width: 380px) {
  .singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo .theAddressURL {
    width: 65%;
    padding: 5px;
  }
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo input[type=button] {
  background-color: #EDEDED;
  color: black;
  border: none;
  padding: 10px 15px;
  width: -moz-max-content;
  width: max-content;
  transition: 0.3s;
  border-right: 3px solid white;
  cursor: pointer;
}
.singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo input[type=button]:hover {
  border-right: 3px solid #009b8c;
  background-color: #009b8c;
  color: #fff;
}
@media screen and (max-width: 380px) {
  .singlePageMain .singlePageRightBox .shortendedLinkContainer .mainShortenedInfo input[type=button] {
    width: 35%;
    padding: 5px;
  }
}
.singlePageMain .singlePageRightBox .copyLinkMessage {
  font-size: 13px;
  position: absolute;
  right: 432px;
  width: -moz-max-content;
  width: max-content;
  background-color: #e1efff;
  padding: 5px 10px;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 75px;
  height: -moz-max-content;
  height: max-content;
  color: #3e4751;
  display: none;
}
.singlePageMain .singlePageRightBox .copyLinkMessage::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #e1efff;
  left: 100%;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (max-width: 768px) {
  .singlePageMain .singlePageRightBox .copyLinkMessage::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #e1efff;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .singlePageMain .singlePageRightBox .copyLinkMessage {
    right: auto;
    left: 0;
    top: auto;
    bottom: calc(100% + 15px);
  }
}
.singlePageMain .singlePageLeftBox {
  margin-top: 50px;
  position: sticky;
  height: -moz-max-content;
  height: max-content;
  bottom: auto;
  top: 20px;
}
.singlePageMain .singlePageLeftBox .mostView li {
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .singlePageMain {
    flex-direction: column;
  }
  .singlePageMain .singlePageRightBox {
    width: 100%;
  }
}

.comments-area {
  background-color: #fff;
  padding: 10px;
  border-radius: 7px;
  max-width: 1180px;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1280px) {
  .comments-area {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.comments-area .comment-body, .comments-area .comment-form {
  border-radius: 15px;
}
.comments-area .innerComments {
  width: 70%;
}
.comments-area .innerComments h4 {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .comments-area .innerComments {
    width: 100%;
  }
}
.comments-area a, .comments-area a:visited {
  font-weight: 700;
  transition: all 0.3s;
}
.comments-area a:hover, .comments-area a:visited:hover {
  color: #7c510d;
}
.comments-area .required, .comments-area .required-field-message {
  display: none;
}
.comments-area .comment-reply-title {
  font-size: 13px;
  font-weight: 700;
  color: #009b8c !important;
  text-align: center;
  padding: 7px 0;
  margin: 5px 0;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}
.comments-area .comment-reply-title small {
  margin-right: 5px;
}
.comments-area .form-submit input[type=submit] {
  font-size: 13px;
  font-weight: 700;
  background-color: #009b8c;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 7px;
}
.comments-area .comment-form {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}
.comments-area .comment-form p {
  line-height: 35px !important;
}
.comments-area label {
  font-size: 15px;
  font-weight: 700;
}
.comments-area form {
  font-size: 13px;
  padding: 5px 15px;
  background-color: #fff;
  border-radius: 7px;
}
.comments-area form label {
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
}
.comments-area form input[type=text], .comments-area form input[type=email], .comments-area form input[type=url] {
  background-color: #EDEDED;
  width: 100%;
  padding: 7px;
  resize: none;
  border-radius: 10px;
}
.comments-area form textarea {
  background-color: #EDEDED;
  border: none;
  width: 100%;
  padding: 7px;
  resize: none;
  border-radius: 15px;
}
.comments-area form .comment-form-cookies-consent {
  display: flex;
}
.comments-area .comment-content {
  margin: 10px 0;
}
.comments-area .comment-content p {
  margin: 0;
}
.comments-area .comment-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments-area .comment-meta .edit-link {
  display: none;
}
.comments-area .comment-form-cookies-consent label {
  margin: 0;
  margin-right: 10px;
}
.comments-area .comment-form-url {
  display: none;
}

.comment-list {
  list-style-type: none;
  margin-right: 0;
  padding-right: 0;
}
.comment-list .says {
  margin-right: 3px;
}
.comment-list li {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}
.comment-list li::before {
  content: none;
}
.comment-list article {
  background-color: #fff;
  padding: 10px;
  font-size: 13px;
  border-radius: 7px;
  margin-bottom: 5px;
}
.comment-list article a, .comment-list article a:visited {
  font-weight: 700;
  transition: all 0.3s;
}
.comment-list article a:hover, .comment-list article a:visited:hover {
  color: #7c510d;
}
.comment-list ol {
  list-style-type: none;
  margin-right: 0;
  padding-right: 0;
}
.comment-list .comment-author {
  display: flex;
  align-items: center;
}
.comment-list .comment-author img {
  border-radius: 100%;
  margin-left: 5px;
}

.aboutPage {
  text-align: center;
}
.aboutPage .sectionOne {
  margin: 50px 100px;
}
.aboutPage .sectionOne p {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .aboutPage .sectionOne img {
    width: 100% !important;
  }
  .aboutPage .sectionOne p {
    width: 85%;
  }
}
.aboutPage .sectionTwo {
  background-color: #FFFFFF;
  background-image: url(https://absolutecarehealth.com.au/wp-content/uploads/2023/03/Community-engagement-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px 150px 0px;
}
.aboutPage .sectionTwo .sectionTwoText {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7803921569);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 35px 35px 35px 35px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .aboutPage .sectionTwo .sectionTwoText {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .aboutPage .sectionTwo .sectionTwoText {
    width: 100%;
  }
}
.aboutPage .sectionThree {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
.aboutPage .sectionThree .sectionThreeText, .aboutPage .sectionThree .sectionThreeImg {
  width: 50%;
  padding: 10px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .aboutPage .sectionThree {
    flex-direction: column;
  }
  .aboutPage .sectionThree .sectionThreeText, .aboutPage .sectionThree .sectionThreeImg {
    width: 100%;
  }
}
.aboutPage .sectionFour {
  background-color: #505050;
}
.aboutPage .sectionFour .innerSectionFour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 50px 0px;
}
.aboutPage .sectionFour .innerSectionFour h2 {
  color: white !important;
  width: 45%;
  text-align: right;
}
@media screen and (max-width: 480px) {
  .aboutPage .sectionFour .innerSectionFour {
    flex-direction: column;
  }
  .aboutPage .sectionFour .innerSectionFour h2 {
    text-align: center;
    width: 80%;
  }
}

.contactPage {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.contactPage p {
  margin-top: 20px;
  margin-bottom: 0;
}
.contactPage .form .innerForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contactPage .form .innerForm span {
  width: 49%;
}
@media screen and (max-width: 480px) {
  .contactPage .form .innerForm span {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .contactPage .form [type=submit] {
    width: 100% !important;
  }
}
@media screen and (max-width: 992px) {
  .contactPage {
    width: 100%;
  }
}

.children li {
  box-shadow: none;
}

.woocommerce-breadcrumb, .woocommerce-notices-wrapper, .onsale, .woocommerce-review-link, .woocommerce-review__dash, .wc-tabs, .tagged_as {
  display: none;
}

.singleProduct {
  display: flex;
  justify-content: space-between;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.singleProduct li::before {
  content: none !important;
}
.singleProduct .product-price {
  flex-direction: column !important;
  font-size: 14px !important;
}
.singleProduct .woocommerce-Price-currencySymbol {
  display: inline-block;
}
.singleProduct .product {
  width: 75%;
}
.singleProduct .product .woocommerce-product-gallery {
  display: flex;
  width: 60% !important;
}
.singleProduct .product .woocommerce-product-gallery img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 7px;
  height: 350px !important;
}
.singleProduct .product .woocommerce-product-gallery .flex-viewport {
  width: 80%;
  height: 350px !important;
}
.singleProduct .product .woocommerce-product-gallery .flex-control-thumbs {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.singleProduct .product .woocommerce-product-gallery .flex-control-thumbs li {
  width: 100% !important;
  margin: 5px 0 !important;
}
.singleProduct .product .woocommerce-product-gallery .flex-control-thumbs li img {
  height: 80px !important;
}
.singleProduct .product .entry-summary {
  width: 37% !important;
}
.singleProduct .product .entry-summary h1 {
  font-size: 32px !important;
  margin-bottom: 0 !important;
}
.singleProduct .product .entry-summary .price {
  font-size: 16px !important;
}
.singleProduct .product .entry-summary .price .woocommerce-Price-amount {
  margin-right: 10px;
}
.singleProduct .product .entry-summary .cart {
  display: flex;
}
.singleProduct .product .entry-summary .product_meta a {
  color: #009b8c;
}
.singleProduct .product .entry-summary .quantity {
  position: relative;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.28) !important;
  background-color: transparent !important;
  border-radius: 30px;
  margin-left: 15px !important;
}
.singleProduct .product .entry-summary .quantity .qty {
  width: 100px !important;
  border-radius: 30px;
  font-size: 20px;
  padding: 5px 20px !important;
  border: none;
}
.singleProduct .product .entry-summary .quantity .themeCustomPlus, .singleProduct .product .entry-summary .quantity .themeCustomMinus {
  border: none;
  background-color: transparent;
  font-size: 23px;
}
.singleProduct .product .entry-summary .quantity .themeCustomPlus {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14%;
}
.singleProduct .product .entry-summary .quantity .themeCustomMinus {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14%;
}
.singleProduct .product .entry-summary .single_add_to_cart_button {
  background-color: #009b8c !important;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.28) !important;
}
.singleProduct .star-rating span::before {
  color: rgb(231, 199, 19) !important;
}
.singleProduct .single_add_to_cart_button {
  border-radius: 30px !important;
}
.singleProduct input::-webkit-outer-spin-button,
.singleProduct input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.singleProduct input[type=number] {
  -moz-appearance: textfield;
}
.singleProduct .singleProductLeft {
  width: 23%;
}
.singleProduct .singleProductLeft h2 {
  font-size: 22px !important;
  border-right: 5px solid #40E0D0;
  padding-right: 14px;
  position: relative;
  border-radius: 5px;
}
.singleProduct .singleProductLeft h2::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  background-color: #40E0D0;
  /* top: 0; */
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 4px;
}
.singleProduct .singleProductLeft .mostView img {
  width: 100px !important;
  height: 100px !important;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 20px;
  border-radius: 7px;
}
.singleProduct .singleProductLeft .mostView .MostViewTitle h2 {
  font-size: 16px !important;
}
.singleProduct .singleProductLeft .mostView .top-product a {
  display: flex;
}
.singleProduct .singleProductLeft .mostView .top-product h2 {
  margin: 0;
  border: none !important;
  padding: 0 !important;
}
.singleProduct .singleProductLeft .mostView .top-product h2::before {
  content: none;
}
.singleProduct .singleProductLeft .mostView .top-product .star-rating {
  float: none !important;
  font-size: 12px !important;
  margin: 7px 0 !important;
}
.singleProduct .singleProductLeft .mostView .top-product .product-price {
  display: flex;
}
.singleProduct .singleProductLeft .mostView .top-product .product-price del {
  margin-left: 10px;
}
.singleProduct .singleProductLeft .category .product-category img {
  display: none !important;
}
.singleProduct .singleProductLeft .category .products {
  display: flex;
  flex-direction: column;
}
.singleProduct .singleProductLeft .category li {
  margin: 0 !important;
}
.singleProduct .singleProductLeft .category .woocommerce-loop-category__title {
  font-size: 15px !important;
  font-weight: 400 !important;
  border: none !important;
  color: #7d887b !important;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  margin: 0 !important;
}
.singleProduct .singleProductLeft .category .woocommerce-loop-category__title::before {
  content: none;
}
.singleProduct .singleProductLeft .category .woocommerce-loop-category__title mark {
  background-color: transparent;
  color: #7d887b !important;
}
.singleProduct .singleProductLeft .tag ul {
  padding: 0 !important;
  display: flex;
}
.singleProduct .singleProductLeft .tag ul span {
  color: #009b8c !important;
  display: inline-block;
  margin-left: 4px;
}
.singleProduct .singleProductLeft .tag a {
  color: #7d887b !important;
}
@media screen and (max-width: 768px) {
  .singleProduct {
    flex-direction: column;
  }
  .singleProduct .product, .singleProduct .singleProductLeft {
    width: 100% !important;
  }
  .singleProduct .product .woocommerce-product-gallery, .singleProduct .product .entry-summary, .singleProduct .singleProductLeft .woocommerce-product-gallery, .singleProduct .singleProductLeft .entry-summary {
    width: 100% !important;
  }
}

.woocommerce-Reviews-title {
  display: flex;
  justify-content: center;
}

.commentlist {
  padding: 0 !important;
}
.commentlist .meta {
  padding-right: 80px;
}
.commentlist .meta time {
  display: block;
}
.commentlist .meta strong {
  font-size: 18px;
}
.commentlist img {
  top: -10px !important;
  right: 20px !important;
  width: 88px !important;
  border-radius: 15px;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08) !important;
}
.commentlist .description {
  margin-top: 20px;
}

.woocommerce-product-details__short-description {
  margin-bottom: 20px;
}
.woocommerce-product-details__short-description p {
  margin: 0;
}

.comment-text {
  background-color: #fff !important;
  padding: 10px !important;
  font-size: 13px !important;
  border-radius: 15px !important;
  margin: 0px 30px 5px 0px !important;
  border: none !important;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}

.woocommerce-Tabs-panel {
  display: block !important;
}
.woocommerce-Tabs-panel h2 {
  display: none !important;
}
.woocommerce-Tabs-panel table {
  background-color: #F5F6F9;
  border-radius: 15px;
  border: none;
  display: block;
  padding: 20px;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}
.woocommerce-Tabs-panel table tr {
  border: none !important;
  background-color: transparent !important;
  display: flex !important;
  align-items: center !important;
}
.woocommerce-Tabs-panel table th, .woocommerce-Tabs-panel table td {
  border: none !important;
  background-color: transparent !important;
  font-style: inherit !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

.woocommerce-Tabs-panel--additional_information {
  border-bottom: 5px solid #009b8c;
}

.woocommerce-Tabs-panel--reviews {
  margin-top: 100px !important;
}

.comment-respond .stars a {
  font-size: 20px;
}
.comment-respond .stars a::before {
  color: rgb(231, 199, 19) !important;
}
.comment-respond .comment-reply-title {
  text-align: center !important;
  font-weight: 700 !important;
}
.comment-respond .comment-form-comment label, .comment-respond .comment-form-rating label {
  font-size: 16px !important;
  font-weight: 700 !important;
  display: flex !important;
}
.comment-respond .comment-form-comment textarea, .comment-respond .comment-form-rating textarea {
  margin-top: 5px;
  height: 180px !important;
}

.form-submit .submit {
  margin-top: 0 !important;
  font-size: 20px !important;
}

.comment-form-comment textarea {
  margin-top: 5px;
}

.servicePage {
  width: 60%;
}
.servicePage h1 {
  text-align: center;
}
.servicePage label {
  margin: 0 !important;
}
.servicePage span {
  display: flex !important;
  width: 50%;
}
.servicePage h2 {
  font-size: 20px !important;
}
.servicePage input[type=date], .servicePage input[type=time] {
  width: 50%;
}
.servicePage input[type=submit] {
  display: inline-block;
}
.servicePage .formRow {
  display: flex;
  justify-content: space-between;
}
.servicePage .formRow input {
  width: 49%;
}

#prevPage1 {
  display: none !important;
}

.site-header {
  box-shadow: 6px 0 6px 0 rgba(0, 0, 0, 0.3);
}
.site-header .innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.site-header .innerHeader .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-header .innerHeader .menu li {
  padding: 7px 0;
  margin: 0 25px;
  overflow: hidden;
  transition: 0.3s;
}
.site-header .innerHeader .menu li::before {
  content: none;
}
.site-header .innerHeader .menu li a {
  transition: 0.3s;
}
.site-header .innerHeader .menu li a::before {
  content: "";
  position: absolute;
  background-color: #009b8c;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
  height: 2px;
  transform: translateX(150%);
  transition: 0.3s;
}
.site-header .innerHeader .menu li a:hover::before {
  transform: translateX(-25%);
}

footer {
  background-color: #505050;
}
footer a, footer p, footer h3, footer h5, footer span {
  color: white !important;
}
footer h3 {
  text-align: center;
  padding-top: 80px;
}
footer .formFooter {
  width: 50%;
  margin: auto;
}
footer .formFooter input[type=email] {
  border-radius: 30px;
  background-color: white;
  text-align: left;
  padding: 15px 20px;
}
footer .formFooter input[type=submit] {
  border-radius: 30px !important;
}
footer .formFooter form {
  position: relative;
}
footer .formFooter form .submit {
  position: absolute;
  top: -11px;
  right: 10px;
}
footer .innerFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}
footer .innerFooter .sectionOne {
  width: 30%;
}
footer .innerFooter .sectionOne .information {
  display: flex;
  margin: 25px 0;
}
footer .innerFooter .sectionOne .information span {
  width: -moz-fit-content;
  width: fit-content;
}
footer .innerFooter .sectionOne .information svg {
  margin-left: 10px;
}
footer .innerFooter .sectionTwo, footer .innerFooter .sectionThree {
  width: 13%;
}
footer .innerFooter .sectionTwo a, footer .innerFooter .sectionThree a {
  display: block;
  margin: 15px 0;
}
footer .innerFooter .sectionFour {
  width: 25%;
}
footer .innerFooter .sectionFour .social {
  display: flex;
  justify-content: space-between;
}
footer .innerFooter .sectionFour a {
  padding: 0;
}
@media screen and (max-width: 768px) {
  footer .innerFooter .culumn {
    width: 50%;
    text-align: center;
  }
  footer .innerFooter .culumn span {
    text-align: right;
  }
  footer .formFooter {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  footer .innerFooter .culumn {
    width: 100%;
  }
  footer .formFooter {
    width: 80%;
  }
}

.homePageBack .homePage .sectionOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.homePageBack .homePage .sectionOne .sectionOneImg {
  width: 45%;
}
.homePageBack .homePage .sectionOne .sectionOneText {
  width: 45%;
  text-align: center;
}
.homePageBack .homePage .sectionOne .sectionOneText h1 {
  font-size: 25px;
}
.homePageBack .homePage .sectionOne .sectionOneText .button {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .homePageBack .homePage .sectionOne {
    flex-direction: column;
  }
  .homePageBack .homePage .sectionOne .sectionOneText, .homePageBack .homePage .sectionOne .sectionOneImg {
    width: 100%;
  }
}
.homePageBack .homePage .sectionTwo, .homePageBack .homePage .sectionFour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
}
.homePageBack .homePage .sectionTwo .sectiontwoImg, .homePageBack .homePage .sectionTwo .sectionFourImg, .homePageBack .homePage .sectionFour .sectiontwoImg, .homePageBack .homePage .sectionFour .sectionFourImg {
  width: 48%;
}
.homePageBack .homePage .sectionTwo .sectiontwoImg img, .homePageBack .homePage .sectionTwo .sectionFourImg img, .homePageBack .homePage .sectionFour .sectiontwoImg img, .homePageBack .homePage .sectionFour .sectionFourImg img {
  border-radius: 20px;
}
.homePageBack .homePage .sectionTwo .sectiontwoText, .homePageBack .homePage .sectionTwo .sectionFourText, .homePageBack .homePage .sectionFour .sectiontwoText, .homePageBack .homePage .sectionFour .sectionFourText {
  width: 45%;
}
.homePageBack .homePage .sectionTwo .sectiontwoText span, .homePageBack .homePage .sectionTwo .sectionFourText span, .homePageBack .homePage .sectionFour .sectiontwoText span, .homePageBack .homePage .sectionFour .sectionFourText span {
  display: flex;
  align-items: center;
}
.homePageBack .homePage .sectionTwo .sectiontwoText span svg, .homePageBack .homePage .sectionTwo .sectionFourText span svg, .homePageBack .homePage .sectionFour .sectiontwoText span svg, .homePageBack .homePage .sectionFour .sectionFourText span svg {
  margin-left: 5px;
}
.homePageBack .homePage .sectionTwo .sectiontwoText a, .homePageBack .homePage .sectionTwo .sectionFourText a, .homePageBack .homePage .sectionFour .sectiontwoText a, .homePageBack .homePage .sectionFour .sectionFourText a {
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .homePageBack .homePage .sectionTwo, .homePageBack .homePage .sectionFour {
    flex-direction: column;
  }
  .homePageBack .homePage .sectionTwo .sectiontwoText, .homePageBack .homePage .sectionTwo .sectiontwoImg, .homePageBack .homePage .sectionTwo .sectionFourText, .homePageBack .homePage .sectionTwo .sectionFourImg, .homePageBack .homePage .sectionFour .sectiontwoText, .homePageBack .homePage .sectionFour .sectiontwoImg, .homePageBack .homePage .sectionFour .sectionFourText, .homePageBack .homePage .sectionFour .sectionFourImg {
    width: 100%;
    margin-bottom: 20px;
  }
}
.homePageBack .homePage .sectionThree .sectionThreeTitle {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}
.homePageBack .homePage .sectionThree .sectionThreeCards {
  display: flex;
  text-align: center;
  gap: 100px;
}
.homePageBack .homePage .sectionThree .sectionThreeCards .sectionThreeCardsvg {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  position: relative;
}
.homePageBack .homePage .sectionThree .sectionThreeCards .sectionThreeCardsvg .svgParent {
  background-color: #505050;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homePageBack .homePage .sectionThree .sectionThreeCards .sectionThreeCardsvg span {
  border: 1px solid black;
  position: absolute;
  padding: 12px 20px;
  border-radius: 100%;
  font-weight: 700;
  font-size: 20px;
  background-color: white;
  top: -10%;
  right: -16%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .homePageBack .homePage .sectionThree .sectionThreeCards {
    flex-direction: column;
  }
  .homePageBack .homePage .sectionThree .sectionThreeTitle {
    width: 100%;
  }
}
.homePageBack .homePage .sectionFive .sectionFiveTitle {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}
.homePageBack .homePage .sectionFive .sectionFiveCards {
  position: relative;
}
.homePageBack .homePage .sectionFive .sectionFiveCards .sectionFiveCard {
  border: 1px solid #e2e2e2;
  border-radius: 20px;
  overflow: hidden;
}
.homePageBack .homePage .sectionFive .sectionFiveCards .sectionFiveCard .cardProfile {
  background-color: #505050;
  padding: 35px;
  text-align: center;
}
.homePageBack .homePage .sectionFive .sectionFiveCards .sectionFiveCard .cardProfile .svgParent {
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.homePageBack .homePage .sectionFive .sectionFiveCards .sectionFiveCard .cardProfile h4 {
  color: white !important;
  margin: 0;
  margin-top: 10px;
}
.homePageBack .homePage .sectionFive .sectionFiveCards .sectionFiveCard .cardText {
  padding: 0 20px 20px 20px;
}
.homePageBack .homePage .sectionFive .sectionFiveCards .sectionFiveCard .cardText span {
  text-align: center;
  opacity: 0.4;
}
.homePageBack .homePage .sectionFive .sectionFiveCards .sectionFiveCard h5 {
  font-size: 18px;
}
.homePageBack .homePage .sectionFive .swiper-button-next {
  right: -45px;
}
.homePageBack .homePage .sectionFive .swiper-button-next::after {
  content: none;
}
.homePageBack .homePage .sectionFive .swiper-button-prev {
  left: -45px;
}
.homePageBack .homePage .sectionFive .swiper-button-prev::after {
  content: none;
}
@media screen and (max-width: 768px) {
  .homePageBack .homePage .sectionFive .sectionFiveCards {
    flex-direction: column;
  }
  .homePageBack .homePage .sectionFive .sectionFiveTitle {
    width: 100%;
  }
}
.homePageBack .homePage .sectionSix {
  background: wheat;
  margin: 100px 0;
}
.homePageBack .homePage .sectionSix .counterNumbersInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.homePageBack .homePage .sectionSix .counterNumbersInner .counterItem {
  text-align: center;
  margin: 20px 0;
}
.homePageBack .homePage .sectionSix .counterNumbersInner .counterItem .counterNumber {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homePageBack .homePage .sectionSix .counterNumbersInner .counterItem .counterNumber span {
  font-size: 60px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .homePageBack .homePage .sectionSix .counterNumbersInner .counterItem {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .homePageBack .homePage .sectionSix .counterNumbersInner .counterItem {
    width: 100%;
  }
}
.homePageBack .homePage .sectionSeven .sectionSevenTopTitle {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}
.homePageBack .homePage .sectionSeven .sectionSevenMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homePageBack .homePage .sectionSeven .sectionSevenMain .sectiontwoImg {
  width: 40%;
}
.homePageBack .homePage .sectionSeven .sectionSevenMain .sectiontwoText {
  width: 55%;
}/*# sourceMappingURL=style-rtl.css.map */