@import 'sass/variables';
@import 'sass/breakpoints';
@import 'sass/source';


.entry-header{
    width: 100%;
    height: 240px;
    background-color: $backColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    h1,span{
        color: white !important;
    }
}
.singlePageMain{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 60px;
    .breadcrumbs{
        span {
            display: inline-block;
        }
    }
    .commentsAndView{
        width: max-content;
        display: flex;
        background-color: black;
        border-radius: 30px;
        padding: 0 10px;
        div{
            padding: 10px;
        }
        .commentsCount{
            border-left: 1px solid white;
        }
        span , a{
            color: white !important;
        }
    }
    .singlePageRightBox{
        width: 70%;
        h1{
            @include xs{
                font-size: 32px;
            }
        }
        img{
            border-radius: 15px;
        }
        .shortendedLinkContainer{
            background-color: #fff;
            padding: 10px;
            margin-top: 10px;
            font-size: 0;
            @include xxs{
                padding: 0;
            }
            h3{
                font-size: 14px;
                font-weight: 800;
                color: #002d64;
                margin: 5px 0 15px 0;
            }
            
            .mainShortenedInfo{	
                position: relative;
                width: max-content;
                border-radius: 7px;
                overflow: hidden;
                display: flex;
                @include xxs{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                .theAddressURL{
                    font-size: 14px;
                    font-weight: 400;
                    display: inline-block;
                    background-color: #ededed;
                    padding: 10px 20px;
                    @include xxs{
                        width: 65%;
                        padding: 5px;
                    }
                }
                input{
                    &[type=button]{
                        background-color: #EDEDED;
                        color: black;
                        
                        border: none;
                        padding: 10px 15px;
                        width: max-content;
                        transition: .3s;
                        border-right: 3px solid white;
                        &:hover{
                            border-right: 3px solid $mainColor;
                            background-color: $mainColor;
                            color: #fff;
                        }
                        cursor: pointer;
                        @include xxs{
                            width: 35%;
                            padding: 5px;
                        }
                    }
                }
                
            }
            
        }
        .copyLinkMessage{
            font-size: 13px;
            position: absolute;
            right: 432px;
            width: max-content;
            background-color: #e1efff;
            padding: 5px 10px;
            margin-top: auto;
            margin-bottom: auto;
            bottom: 75px;
            height: max-content;
            color: #3e4751;
            display: none;
            &::before{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 8px solid #e1efff;
                left: 100%;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                @include sm{
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 8px solid #e1efff;
                    top: 100%;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            @include sm{
                right: auto;
                left: 0;
                top: auto;
                bottom: calc(100% + 15px);
            }
        }
    }
    .singlePageLeftBox{
        margin-top: 50px;
        position: sticky;
            height: max-content;
            bottom: auto;
            top: 20px;
        .mostView{
            li{
                max-width: 25ch;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    @include sm{
        flex-direction: column;
        .singlePageRightBox{
            width: 100%;
        }
    }
}
.comments-area{
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
    max-width: 1180px;
    margin-left: auto !important;
    margin-right: auto !important;
    @include mvb{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .comment-body , .comment-form{
        border-radius: 15px;
    }
    
    .innerComments{
        width: 70%;
        h4{
            text-align: center;
        }
        @include sm{
            width: 100%;
        }
    }
    a , a:visited{
        font-weight: 700;
        transition: all 0.3s;
        &:hover{
            color: #7c510d;
        }
    }
    .required , .required-field-message{display: none;}
    .comment-reply-title{
        font-size: 13px;
        font-weight: 700;
        color: $mainColor !important;
        text-align: center;
        padding: 7px 0;
        margin: 5px 0;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        small{
            margin-right: 5px;
        }
    }
    .form-submit{
        input{
            &[type=submit]{
                font-size: 13px;
                font-weight: 700;
                background-color: $mainColor;
                color: #fff;
                border: none;
                padding: 8px 20px;
                border-radius: 7px;
            }
        }
        
    }
    .comment-form{
        -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        p{
            line-height: 35px !important;
        }
    }
    label{
        font-size: 15px;
        font-weight: 700;
    }
    form{
        font-size: 13px;
        padding: 5px 15px;
        background-color: #fff;
        border-radius: 7px;
        label{
            display: block;
            font-size: 12px;
            margin-bottom: 3px;
        }
        input{
            &[type=text] , &[type=email] , &[type=url]{

                background-color: #EDEDED;
                width: 100%;
                padding: 7px;
                resize: none;
                border-radius: 10px;
            }
        }
        textarea{
            background-color: #EDEDED;
            border: none;
            width: 100%;
            padding: 7px;
            resize: none;
            border-radius: 15px;
            
        }
        .comment-form-cookies-consent{
            display: flex;
        }
    }
    
    .comment-content{
        margin: 10px 0;
        p{
            margin: 0;
        }
    }
    .comment-meta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .edit-link{
            display: none;
        }
    }
    .comment-form-cookies-consent{
        label{
            margin: 0;
            margin-right: 10px;
        }
    }
    .comment-form-url{
        display: none;
    }
}

.comment-list{
    list-style-type: none;
    margin-right: 0;
    padding-right: 0;
    .says{
        margin-right: 3px;
    }
    li{
        &::before{
            content: none;
        }
        -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        border-radius: 15px;
    }
    
    article{
        background-color: #fff;
        padding: 10px;
        font-size: 13px;
        border-radius: 7px;
        margin-bottom: 5px;
        
        a , a:visited{
            font-weight: 700;
            transition: all 0.3s;
            &:hover{
                color: #7c510d;
            }
        }
    }
    ol{
        list-style-type: none;
        margin-right: 0;
        padding-right: 0;
    }
    .comment-author{
        display: flex;
        align-items: center;
        img{
            border-radius: 100%;
            margin-left: 5px;
        }
    }
}
.aboutPage{
    
    text-align: center;
    .sectionOne{
        margin: 50px 100px;
        p{
            width: 65%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 20px;
        }
        @include xs{
            img{
                width: 100% !important;
            }
            p{
                width: 85%;
            }
        }
    }
    .sectionTwo{
        background-color: #FFFFFF;
        background-image: url(https://absolutecarehealth.com.au/wp-content/uploads/2023/03/Community-engagement-cover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px 0px 150px 0px;
        .sectionTwoText{
            width: 50%;
            background-color: #FFFFFFC7;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            padding: 35px 35px 35px 35px;
            text-align: right;
            @include sm{
                width: 70%;
            }
            @include xs{
                width: 100%;
            }
        }
    }
    .sectionThree{
        display: flex;
        justify-content: space-between;
        margin: 100px auto;
        .sectionThreeText,.sectionThreeImg{
            width: 50%;
            padding: 10px;
            text-align: right;
        }
        @include sm{
            flex-direction: column;
            .sectionThreeText,.sectionThreeImg{
                width: 100%;
            }
        }
    }
    .sectionFour{
        background-color: $backColor;
        .innerSectionFour{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px 0px 50px 0px;
            h2{
                color: white !important;
                width: 45%;
                text-align: right;
            }
            @include xs{
                flex-direction: column;
                h2{
                    text-align: center;
                    width: 80%;
                }
            }
        }
    }
}
.contactPage{
    width: 60%;
        margin-left: auto;
        margin-right: auto;
        p{
            margin-top: 20px;
            margin-bottom: 0;
        }
    .form{
        
        .innerForm{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            span{
                width: 49%;
                @include xs{
                    width: 100%;
                }
            }
        }
        @include xs{
            [type=submit]{
                width: 100% !important;
            }
        }
    }
}
.children{
    li{
        box-shadow: none;
    }
}
.woocommerce-breadcrumb , .woocommerce-notices-wrapper , .onsale , .woocommerce-review-link , .woocommerce-review__dash , .wc-tabs , .tagged_as{
    display: none;
}
.singleProduct{
    display: flex;
    justify-content: space-between;
    li{
        &::before{
            content: none !important;
        }
    }
    .product {
        width: 75%;
        .woocommerce-product-gallery{
            display: flex;
            width: 60% !important;
            img{
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 7px;
                height: 350px !important;
            }
            .flex-viewport{
                width: 80%;
                height: 350px !important;
            }
            .flex-control-thumbs{
                display: flex;
                flex-direction: column;
                width: 20%;
                li{
                    width: 100% !important;
                    margin: 5px 0 !important;
                    img{
                        height: 80px !important;
                    }
                    
                }
            }
        }
        .entry-summary{
            width: 37% !important;
            h1{
                font-size: 32px !important;
                margin-bottom: 0 !important;
            }
            .price{
                font-size: 16px !important;
                .woocommerce-Price-amount{
                    margin-right: 10px;
                }
            }
            .cart{
                display: flex;
            }
            .quantity{
                position: relative;
                .qty{
                    width: 100px !important;
                    border-radius: 30px;
                    font-size: 20px;
                    padding: 5px 20px !important;
                }
                .themeCustomPlus , .themeCustomMinus {
                    border: none;
                    background-color: transparent;
                    font-size: 23px;
                }
                .themeCustomPlus{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 14%;
                }
                .themeCustomMinus{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 14%;
                }
            }
        }

    }
    .star-rating{
        span{
            &::before{
                color: rgb(231, 199, 19) !important;
            }
        }
    }
    .single_add_to_cart_button {
        border-radius: 30px !important;
    }
        /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
    
    .singleProductLeft{
        width: 23%;
        h2{
            margin-bottom: 10px !important;
        }
        .mostView{
            img{
                width: 100px !important;
                height: 100px !important;
                object-fit: cover;
                margin-left: 20px;
                border-radius: 7px;
            }
            .MostViewTitle{
                h2{
                    font-size: 20px;
                }
            }
            .top-product{
                a{
                    display: flex;
                }
                h2{
                    margin: 0;
                }
                .product-price{
                    display: flex;
                    del{
                        margin-left: 10px;
                    }
                }
            }
            
        }
        .category{
            .product-category{
                img{
                    display: none !important;
                }
            }
            .products {
                display: flex;
                flex-direction: column;
            }
            li{
                margin: 0 !important;
            }
            .woocommerce-loop-category__title{
                mark{
                    background-color: transparent;
                }
                display: flex;
                width: max-content;
                margin: 0 !important;
            }
            
        }
        
    }
}
.woocommerce-Reviews-title{
    display: flex;
    justify-content: center;
}
.commentlist{
    padding: 0 !important;
    .meta{
        padding-right: 80px;
        time{
            display: block;
        }
        strong{
            font-size: 18px;
        }
    }
    img{
        top: -10px !important;
        right: 20px !important;
        width: 88px !important;
        border-radius: 15px;
        box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08) !important;
    }
    .description{
        margin-top: 20px;
    }
}
.woocommerce-product-details__short-description{
    margin-bottom: 20px;
    p{
        margin: 0;
    }
}
.comment-text{
    background-color: #fff !important;
    padding: 10px !important;
    font-size: 13px !important;
    border-radius: 15px !important;
    margin: 0px 30px 5px 0px !important;
    border: none !important;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}
.woocommerce-Tabs-panel{
    display: block !important;
    h2{
        display: none !important;
    }
    table{
        background-color: #F5F6F9;
        border-radius: 15px;
        border: none;
        display: block;
        padding: 20px;
        tr{
            border: none !important;
            background-color: transparent !important;
            display: flex !important;
            align-items: center !important;

        }
        th , td{
            border: none !important;  
            background-color: transparent !important;
            font-style: inherit !important;
            width: max-content !important;
        }
    }
}
.comment-respond{
    .stars{
        a{
            font-size: 20px;
            &::before{
                color: rgb(231, 199, 19) !important;
            }
        }
    }
    .comment-reply-title{
        text-align: center !important;
        font-weight: 700 !important;
    
    }
    .comment-form-comment , .comment-form-rating{
        label{
            font-size: 16px !important;
        font-weight: 700 !important;
        display: flex !important;
        }
        textarea{
            margin-top: 5px;
            height: 180px !important;
        }
    }
}
.form-submit{
    .submit{
        margin-top: 0 !important;
        font-size: 20px !important;
    }
}
.comment-form-comment{
    textarea{
        margin-top: 5px;
    }
}