@import 'sass/variables';
@import 'sass/breakpoints';
@import 'sass/source';

.show{
    display: inline-block !important;
}
.entry-header{
    width: 100%;
    height: 240px;
    background-color: $backColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    h1,span{
        color: white !important;
    }
}
.singlePageMain{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 60px;
    margin-top: 10px;
    .breadcrumbs{
        span {
            display: inline-block;
        }
    }
    .commentsAndView{
        width: max-content;
        display: flex;
        background-color: black;
        border-radius: 30px;
        padding: 0 10px;
        div{
            padding: 10px;
        }
        .commentsCount{
            border-left: 1px solid white;
        }
        span , a{
            color: white !important;
        }
    }
    .singlePageRightBox{
        width: 70%;
        h1{
            font-size: 30px;
            @include xs{
                font-size: 32px;
            }
        }
        img{
            border-radius: 15px;
        }
        .postCategories{
            margin: 15px 0;
            display: flex;
            align-items: center;
            a{
                padding: 5px 20px;
                border: 1px solid $mainColor;
                color: $mainColor;
                border-radius: 5px;
                display: inline-block;
                margin: 0 5px;
            }
        }
        .entry-content{
            h1,h2,h3,h4,h5,h6{
                padding-right: 10px;
                border-right: 5px solid;
            }
            p{
                text-align: justify;
                a{
                    color: black;
                    font-weight: 700;
                }
            }
        }
        .shortendedLinkContainer{
            background-color: #fff;
            padding: 10px;
            margin-top: 10px;
            font-size: 0;
            padding-right: 0;
            position: relative;
            @include xxs{
                padding: 0;
            }
            h3{
                font-size: 14px;
                font-weight: 800;
                color: #002d64;
                margin: 5px 0 15px 0;
            }
            
            .mainShortenedInfo{	
                position: relative;
                width: max-content;
                border-radius: 7px;
                overflow: hidden;
                display: flex;
                @include xxs{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                .theAddressURL{
                    font-size: 14px;
                    font-weight: 400;
                    display: inline-block;
                    background-color: #ededed;
                    padding: 10px 20px;
                    @include xxs{
                        width: 65%;
                        padding: 5px;
                    }
                }
                input{
                    &[type=button]{
                        background-color: #EDEDED;
                        color: black;
                        
                        border: none;
                        padding: 10px 15px;
                        width: max-content;
                        transition: .3s;
                        border-right: 3px solid white;
                        &:hover{
                            border-right: 3px solid $mainColor;
                            background-color: $mainColor;
                            color: #fff;
                        }
                        cursor: pointer;
                        @include xxs{
                            width: 35%;
                            padding: 5px;
                        }
                    }
                }
                
            }
            
        }
        .copyLinkMessage{
            font-size: 13px;
            position: absolute;
            right: 0;
            width: -moz-max-content;
            width: max-content;
            background-color: #e1efff;
            padding: 5px 10px;
            margin-top: auto;
            margin-bottom: auto;
            bottom: -22px;
            height: -moz-max-content;
            height: max-content;
            color: #3e4751;
            display: none;
            // &::before{
            //     content: '';
            //     position: absolute;
            //     width: 0;
            //     height: 0;
            //     border-top: 5px solid transparent;
            //     border-bottom: 5px solid transparent;
            //     border-left: 8px solid #e1efff;
            //     left: 100%;
            //     top: 0;
            //     bottom: 0;
            //     margin-top: auto;
            //     margin-bottom: auto;
            //     @include sm{
            //         border-left: 5px solid transparent;
            //         border-right: 5px solid transparent;
            //         border-top: 8px solid #e1efff;
            //         top: 100%;
            //         left: 0;
            //         right: 0;
            //         margin-left: auto;
            //         margin-right: auto;
            //     }
            // }

        }
    }
    .singlePageLeftBox{
        margin-top: 50px;
        position: sticky;
            height: max-content;
            bottom: auto;
            top: 95px;
        .mostView{
            li{
                max-width: 25ch;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    @include sm{
        flex-direction: column;
        .singlePageRightBox{
            width: 100%;
        }
    }
}
.comments-area{
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
    max-width: 1180px;
    margin-left: auto !important;
    margin-right: auto !important;
    @include mvb{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .comment-body , .comment-form{
        border-radius: 15px;
    }
    
    .innerComments{
        width: 70%;
        h4{
            text-align: center;
        }
        @include sm{
            width: 100%;
        }
    }
    a , a:visited{
        font-weight: 700;
        transition: all 0.3s;
        &:hover{
            color: #7c510d;
        }
    }
    .required , .required-field-message{display: none;}
    .comment-reply-title{
        font-size: 20px;
        font-weight: 700;
        color: $mainColor !important;
        text-align: center;
        padding: 7px 0;
        margin: 5px 0;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        small{
            margin-right: 5px;
        }
    }
    .form-submit{
        input{
            &[type=submit]{
                font-size: 13px;
                font-weight: 700;
                background-color: $mainColor;
                color: #fff;
                border: none;
                padding: 8px 20px;
                border-radius: 7px;
            }
        }
        
    }
    .comment-form{
        // -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        // -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        // box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        border: 1px solid #9b9b9b;
        p{
            line-height: 35px !important;
        }
    }
    label{
        font-size: 15px;
        font-weight: 700;
    }
    form{
        font-size: 13px;
        padding: 40px 65px;
        background-color: #fff;
        border-radius: 7px;
        label{
            display: block;
            font-size: 12px;
            margin-bottom: 3px;
        }
        input{
            &[type=text] , &[type=email] , &[type=url]{

                background-color: white;
                width: 100%;
                padding: 7px;
                resize: none;
                border-radius: 10px;
                border: 1px solid #9b9b9b;
            }
        }
        textarea{
            background-color: white;
            border: 1px solid #9b9b9b;
            width: 100%;
            padding: 7px;
            resize: none;
            border-radius: 15px;
            
        }
        .comment-form-cookies-consent{
            display: flex;
        }
    }
    
    .comment-content{
        margin: 10px 0;
        p{
            margin: 0;
        }
    }
    .comment-meta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .edit-link{
            display: none;
        }
    }
    .comment-form-cookies-consent{
        label{
            margin: 0;
            margin-right: 10px;
        }
    }
    .comment-form-url{
        display: none;
    }
}

.comment-list{
    list-style-type: none;
    margin-right: 0;
    padding-right: 0;
    .says{
        margin-right: 3px;
    }
    li{
        &::before{
            content: none;
        }
        // -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        // -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        // box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        border-radius: 15px;
        padding-right: 0;
    }
    time{
        color: #6a6a6a;
        font-weight: 300;
    }
    article{
        background-color: #fff;
        padding: 20px;
        font-size: 13px;
        border-radius: 7px;
        margin-bottom: 5px;
        border: 1px solid #9b9b9b;
        a , a:visited{
            font-weight: 700;
            transition: all 0.3s;
            &:hover{
                color: #7c510d;
            }
        }
    }

    ol{
        list-style-type: none;
        margin-right: 0;
        padding-right: 0;
        article{
            background-color: #f1f1f1;
            border: none;
        }
        li{
            padding-right: 30px;
        }
    }
    .comment-author{
        display: flex;
        align-items: center;
        img{
            border-radius: 100%;
            margin-left: 5px;
        }
    }
    .reply{
        text-align: left;
        a{
            padding: 3px 15px;
            border: 1px solid #9b9b9b;
            border-radius: 10px;
        }
    }
}
.aboutPage{
    .sectionOne{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0;
        .sectionOneText{
            width: 50%;
            .skills{
                a{
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    svg{
                        margin-left: 7px;
                    }
                }
            }
        }
        .sectionOneImg{
            width: 40%;
        }
        @include sm{
            flex-direction: column;
            .sectionOneText{
                width: 100%;
            }
            .sectionOneImg{
                width: 100%;
            }
        }
    }
    .sectiontwo{
        .sectiontwoMain{
            display: flex;
                justify-content: space-between;
                align-items: center;
                .sectiontwoImg {
                    width: 48%;
                    img{
                        border-radius: 20px;
                    }
                }
                .sectiontwoText{
                    width: 45%;
                    span{
                        display: flex;
                        align-items: center;
                        svg{
                            margin-left: 5px;
                        }
                    }
                    a{
                        margin-right: auto;
                    }
                } 
                @include sm{
                    flex-direction: column;
                    margin: 50px auto;
                    .sectiontwoText , .sectiontwoImg , .sectionFourText , .sectionFourImg{
                        width: 100%;
                        margin-bottom: 20px;
                    } 
                }
        }
    }
    .sectionThree{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px 0;
        .sectionThreeText{
            width: 48%;
        }
        .sectionThreeCards{
            width: 45%;
            .sectionThreeCard{
                background-color: $backColor;
                padding: 20px;
                margin: 20px 0;
                padding-right: 60px;
                position: relative;
                border-radius: 20px;
                transition: .4s;
                h3 , p{
                    color: white !important;
                    margin: 0;
                }

                .svgParent{
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    right: -40px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $backColor;
                    border: 1px solid white;
                    border-radius: 50%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    svg{
                        margin: auto;
                    }
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
            .sectionThreeCardTwo{
                transform: translateX(-30px);
            }
        }
        @include sm{
            flex-direction: column;
            .sectionThreeText{
                width: 100%;
            }
            .sectionThreeCards{
                width: 92%;
                margin-right: auto;
                .sectionThreeCardTwo{
                    transform: translateX(0px);
                }
            }  
        }
    }
    .sectionFour{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .counterNumbersInner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 50px 0;
            width: 45%;
            .counterItem {
                text-align: center;
                margin: 20px 0;
                width: 50%;
                .counterNumber{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        font-size: 60px;
                        font-weight: 600;
                    }
                }
            }
            @include xs{
                .counterItem {
                    width: 100%;
                }
            }
        }
        .sectionFourText{
            width: 48%;
        }
        @include sm{
            flex-direction: column;
            .counterNumbersInner{
                width: 100%;
            }
            .sectionFourText{
                width: 100%;
            }
        }
    }
    
}
.TopTitle{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    @include sm{
         width: 100%;
    }
}
.contactPage{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    p{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .form{
        width: 47%;
        textarea{
            height: unset;
            border: 1px solid #9b9b9b;
        }
        .innerForm{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            span{
                width: 49%;
                margin-top: 15px;
                @include xs{
                    width: 100%;
                }
            }
        }
        @include xs{
            [type=submit]{
                width: 100% !important;
            }
        }
    }
    .contactPageText{
        width: 45%;
        .row{
            h5{
                display: flex;
                margin-bottom: 15px;
                svg{
                    margin-left: 7px;
                }
            }
            .contactPageLink{
                a{
                    display: block;
                }
            }
            a,span{
                padding-right: 35px;
            }
            &:nth-child(3){
                padding-bottom:25px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.21);
            }
        }
        .socialMedia{
            padding-top: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .social{
                gap: 10px;
            }
        }
        
    }
    @include md{
        flex-direction: column;
       .form{
        width: 100%;
       }
       .contactPageText{
        width: 100%;
        .socialMedia{
            flex-direction: column;
            gap: 15px;
        }
       }
    }
}
.children{
    padding: 0;
    li{
        box-shadow: none;
    }
    .comment-text{
        background-color: #f1f1f1 !important;
        border: none;
    }
}
.woocommerce-breadcrumb , .woocommerce-notices-wrapper , .onsale , .woocommerce-review-link , .woocommerce-review__dash , .tagged_as{
    display: none;
}
.singleProduct{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    li{
        &::before{
            content: none !important;
        }
    }
    .product-price{
        flex-direction: column !important;
        font-size: 14px !important;
    }
    .woocommerce-Price-currencySymbol{
        display: inline-block;

    }
    .product {
        width: 75%;
        .woocommerce-product-gallery{
            display: flex;
            width: 60% !important;
            img{
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 7px;
                height: 350px !important;
            }
            .flex-viewport{
                width: 80%;
                height: 350px !important;
            }
            .flex-control-thumbs{
                display: flex;
                flex-direction: column;
                width: 20%;
                li{
                    width: 100% !important;
                    margin: 5px 0 !important;
                    img{
                        height: 80px !important;
                    }
                    
                }
            }
        }
        .entry-summary{
            width: 37% !important;
            h1{
                font-size: 32px !important;
                margin-bottom: 0 !important;
            }
            .price{
                font-size: 16px !important;
                .woocommerce-Price-amount{
                    margin-right: 10px;
                }
            }
            .cart{
                display: flex;
            }
            .product_meta{
                a{ 
                    color: $mainColor;
                }
            }
            .quantity{
                position: relative;
                box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 28%) !important;
                background-color: transparent !important;
                border-radius: 30px;
                margin-left: 15px !important;
                .qty{
                    width: 100px !important;
                    border-radius: 30px;
                    font-size: 20px;
                    padding: 5px 20px !important;
                    border: none;
                }
                .themeCustomPlus , .themeCustomMinus {
                    border: none;
                    background-color: transparent;
                    font-size: 23px;
                }
                .themeCustomPlus{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 14%;
                }
                .themeCustomMinus{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 14%;
                }
            }
            .single_add_to_cart_button{
                background-color: $mainColor !important;
                box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 28%) !important;
                transition: .4s;
                &:hover{
                    transform: scale(1.1) !important;
                }
            }
        }

    }
    .star-rating{
        span{
            &::before{
                color: rgb(231, 199, 19) !important;
            }
        }
    }
    .single_add_to_cart_button {
        border-radius: 30px !important;
    }
        /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
    
    .singleProductLeft{
        width: 23%;
        margin-top: 50px;
        position: sticky;
        height: max-content;
        bottom: auto;
        top: 70px;
        h2{
            // margin-bottom: 10px !important;
            font-size: 22px !important;
            // border-right: 5px solid #40E0D0;
            // padding-right: 14px;
            position: relative;
            border-radius: 5px;
            // &::before{
            //     content: "";
            //     position: absolute;
            //     width: 5px;
            //     height: 20px;
            //     border-radius: 5px 0 0 5px;
            //     background-color: #40E0D0;
            //     /* top: 0; */
            //     bottom: 0;
            //     margin-top: auto;
            //     margin-bottom: auto;
            //     right: 4px;
            // }
        }
        .mostView{
            img{
                width: 100px !important;
                height: 100px !important;
                object-fit: cover;
                margin-left: 20px;
                border-radius: 7px;
            }
            .MostViewTitle{
                h2{
                    font-size: 16px !important;
                    
                }
            }
            .top-product{
                a{
                    display: flex;
                }
                h2{
                    margin: 0;
                    border: none !important;
                    padding: 0 !important;
                    &::before{
                        content: none;
                    }
                }
                .star-rating{
                    float: none !important;
                    font-size: 12px !important;
                    margin: 7px 0 !important;
                }
                .product-price{
                    display: flex;
                    del{
                        margin-left: 10px;
                    }
                }
            }
            
        }
        .category{
            .product-category{
                img{
                    display: none !important;
                }
            }
            .products {
                display: flex;
                flex-direction: column;
            }
            li{
                margin: 0 !important;
            }
            .woocommerce-loop-category__title{
                font-size: 15px !important;
                font-weight: 400 !important;
                border: none !important;
                color: $textColorLighter !important;
                &::before{
                    content: none;
                }
                mark{
                    background-color: transparent;
                    color: $textColorLighter !important;
                }
                display: flex;
                width: max-content;
                margin: 0 !important;
            }
            
        }
        .tag{
            ul{
                padding: 0 !important;
                display: flex;
                span{
                    color: $mainColor !important;
                    display: inline-block;
                    margin-left: 4px;
                }
            }
            a{
                color: $textColorLighter !important;
            }
        }
        
    }
    @include sm{
        flex-direction: column;
        .product , .singleProductLeft{
            width: 100% !important;
            .woocommerce-product-gallery , .entry-summary{
                width: 100% !important;
            }
        }
    }
}
.woocommerce-Reviews-title{
    display: flex;
    justify-content: center;
}
.commentlist{
    padding: 0 !important;
    .meta{
        padding-right: 45px;

        time{
            display: block;
            font-size: 12px;
        }
        strong{
            font-size: 18px;
        }
    }
    img{
        top: 25px !important;
        right: 20px !important;
        width: 40px !important;
        border-radius: 100%;
        // box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08) !important;
    }
    .description{
        margin-top: 20px;
    }
}
.woocommerce-product-details__short-description{
    margin-bottom: 20px;
    p{
        margin: 0;
    }
}

.comment-text{
    // background-color: #fff !important;
    padding: 20px !important;
    font-size: 13px !important;
    border-radius: 15px !important;
    margin: 0 !important;
    // border: none !important;
    // box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
    border: 1px solid #9b9b9b;
}
.woocommerce-Tabs-panel{
    // display: block !important;
    
    h2{
        // display: none !important;
    }
    table{
        background-color: #f1f1f1 ;
        border-radius: 15px;
        border: none;
        display: block;
        padding: 20px;
        box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
        tr{
            border: none !important;
            background-color: transparent !important;
            display: flex !important;
            align-items: center !important;

        }
        th , td{
            border: none !important;  
            background-color: transparent !important;
            font-style: inherit !important;
            width: max-content !important;
        }
    }
}
.woocommerce-Tabs-panel--additional_information{
    // border-bottom: 5px solid $mainColor;
}
.woocommerce-Tabs-panel--reviews{
    margin-top: 50px !important;
}
.wc-tabs{
    text-align: center;
    
}   
ul.tabs{
    &::after{
        content: none !important;
    }
    &::before{
        content: none !important;
    }
    li{
        border: none !important;
        background-color: unset !important;
        padding: 0 3rem !important;
        a{
            font-size: 20px;
            color: #c1c1c1 !important;
            border-bottom: 1px solid  #c1c1c1 !important;
        }
        
    }
    .active{
        a{
            color: black !important;
        border-bottom: 1px solid  black !important;
        }
    }
}
.comment-respond{
    .stars{
        a{
            font-size: 20px;
            &::before{
                color: rgb(231, 199, 19) !important;
            }
        }
    }
    .comment-reply-title{
        text-align: center !important;
        font-weight: 700 !important;
    
    }
    .comment-form-comment , .comment-form-rating{
        label{
            font-size: 16px !important;
        font-weight: 700 !important;
        display: flex !important;
        }
        textarea{
            margin-top: 5px;
            height: 180px !important;
        }
    }
}
// .form-submit{
//     .submit{
//         margin-top: 0 !important;
//         font-size: 20px !important;
//     }
// }
.comment-form-comment{
    textarea{
        margin-top: 5px;
    }
}
.servicePage{
    width: 60%;
    h1{
        text-align: center;
    }
    label{
        margin: 0 !important;
    }
    span{
        display: flex !important;
        width: 50%;
    }
    h2{
        font-size: 20px !important;
    }
    input{
        &[type=date] , &[type=time]{
            width: 50%;
        }
        &[type=submit]{
            display: inline-block;
        }
    }
    .formRow{
        display: flex;
        justify-content: space-between;
        input{
            width: 49%;
        }
    }
    // .tellTwo , .fNameSomeOne , .lNameSomeOne , .relationship{
    //     display: none;
    // }
}
#prevPage1 {
    display: none !important;
}
.mobilMenuOverlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999999999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}
.mobileMenuContainer{
    position: fixed;
    right: -350px;
    background-color: #fff;
    top: 0px;
    bottom: 0;
    height: auto;
    width: 280px;
    z-index: 9999999991;
    transition: all 0.4s;
    padding: 20px;
    .menu{
        padding: 0;
    }
    li::before{
        content: none;
    }
    .mobileMenuHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.showMobilMenuOverlay{
    opacity: 1;
    visibility: visible;
}
.showMobileMenu{
    right: 0 !important;
}
.site-header{
    box-shadow: 6px 0 6px 0 rgba(0, 0, 0, 0.3);
    background-color: red;
    .innerHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
        
        .menu{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                padding: 7px 0;
                margin: 0 25px;
                overflow: hidden;
                transition: .3s;
                &::before{
                    content: none;
                }
                a{
                    transition: .3s;
                    &::before{
                        content: "";
                        position: absolute;
                        background-color: $mainColor;
                        bottom: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        width: 70%;
                        height: 2px;
                        transform: translateX(150%);
                        transition: .3s;
                    }
                    &:hover{
                        &::before{
                            transform: translateX(-25%);
                        }
                    }
                }
            }
            
        }
        .headerMobileMenu{
            display: none;
            svg{
                fill: $mainColor;
            }
        }
        @include sm{
            .menu{
                display: none;
            }
            .generalButton {
                display: none;
            }
            .headerMobileMenu{
                display: inline;
            }
            // display: none;
        }
    }
    .innerHeaderSticky{
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
        top: -100px;
        transition: all 0.5s;
        z-index: 999999999;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-bottom: 1px solid #eeeeee !important;
        background-color: white;
    }
}
.showStickyHeader{
    top: 0 !important;
}
footer.site-footer{
    background-color: $backColor;
    a , p , h3 , h5 , span{
        color: white !important;
    }
    h3{
        text-align: center;
        padding-top: 80px;
    }
    .formFooter{
        width: 50%;
        margin: auto;
        input[type=email]{
            border-radius: 30px;
            background-color: white;
            text-align: left;
            padding: 15px 20px;
        }
        input[type=submit]{
            border-radius: 30px !important;
        }
        form{
            position: relative;
            .submit{
                position: absolute;
                top: -11px;
                right: 10px;
            }
        }
    }
    .innerFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 50px;
        .sectionOne{
            width: 30%;
            .information{
                display: flex;
                margin: 25px 0;
                span{
                    width: fit-content;
                }
                svg{
                    margin-left: 10px;
                }
            }
        }
        .sectionTwo,.sectionThree{
            width: 13%;
            a{
                display: block;
                margin: 15px 0;
            }
        }
        .sectionFour{
            width: 25%;
            
        }
        
    }
    @include sm{
        .innerFooter{
            .culumn{
                width: 50%;
                text-align: center;
                span{
                    text-align: right;
                }
            }
        }
        .formFooter{
            width: 70%;
        }
    }
    @include xs{
        .innerFooter{
            .culumn{
                width: 100%;
            }
        }
        .formFooter{
            width: 80%;
        }
    }
}
.social{
    display: flex;
    justify-content: space-between;
    a{
        padding: 0;
    }
}

.homePageBack{
    .homePage{
        .sectionOne{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            .sectionOneImg{
                width: 45%;
            }
            .sectionOneText{
                width: 45%;
                text-align: center;
                h1{
                    font-size: 25px;

                }
                .button{
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                }
            }
            @include sm{
                flex-direction: column;
                .sectionOneText , .sectionOneImg{
                    width: 100%;
                } 
            }
        }
        .sectionTwo , .sectionFour{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 100px auto;
            .sectiontwoImg , .sectionFourImg{
                width: 48%;
                img{
                    border-radius: 20px;
                }
            }
            .sectiontwoText , .sectionFourText{
                width: 45%;
                span{
                    display: flex;
                    align-items: center;
                    svg{
                        margin-left: 5px;
                    }
                }
                a{
                    margin-right: auto;
                }
            } 
            @include sm{
                flex-direction: column;
                margin: 50px auto;
                .sectiontwoText , .sectiontwoImg , .sectionFourText , .sectionFourImg{
                    width: 100%;
                    margin-bottom: 20px;
                } 
            }
        }
        .sectionThree{
            .sectionThreeTitle{
                text-align: center;
                width: 70%;
                margin: auto;
                margin-bottom: 50px;
            }
            .sectionThreeCards{
                display: flex;
                text-align: center;
                gap: 100px;
                .sectionThreeCardsvg{
                    width: max-content;
                    margin: auto;
                    position: relative;
                    .svgParent{
                        background-color: $backColor;
                        border-radius: 100%;
                        width: 150px;
                        height: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    span{
                        border: 1px solid black;
                        position: absolute;
                        padding: 12px 20px;
                        border-radius: 100%;
                        font-weight: 700;
                        font-size: 20px;
                        background-color: white;
                        top: -10%;
                        right: -16%;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            @include sm{
                .sectionThreeCards{
                    flex-direction: column;
                    gap: 50px;
                }
                .sectionThreeTitle{
                    width: 100%;
                }
            }
        }
        .sectionFive{
            .sectionFiveTitle{
                text-align: center;
                width: 70%;
                margin: auto;
                margin-bottom: 50px;
            }
            .sectionFiveCards{
                // display: flex;
                // text-align: center;
                // gap: 40px;
                padding: 0 20px;
                
                position: relative;
                .sectionFiveCard{
                    border: 1px solid #e2e2e2;
                    border-radius: 20px;
                    overflow: hidden;
                    .cardProfile{
                        background-color: $backColor;
                        padding: 35px;
                        text-align: center;
                        .svgParent{
                            width: 50px;
                            height: 50px;
                            margin: auto;
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 100%;
                        }
                        h4{
                            color: white !important;
                            margin: 0;
                            margin-top: 10px;
                        }
                        
                    }
                    .cardText{
                        padding: 0 20px 20px 20px;
                        span{
                            text-align: center;
                            opacity: .4;
                        }
                    }
                    h5{
                        font-size: 18px;
                    }
                }
            }
            .swiper-button-next{
                // transform: rotate(180deg);
                right: -15px;
                &::after{
                    content: none;
                }
            }
            .swiper-button-prev{
                left: -15px;
                &::after{
                    content: none;
                }
            }
            @include sm{
                
                .sectionFiveTitle{
                    width: 100%;
                }
                
            }
            @include md{
                .swiper-button-next{
                    right: -8px;

                }
                .swiper-button-prev{
                    left: -8px;
                }
            }
        }
        .sectionSix{
            background: wheat;
            margin: 100px 0;
            .counterNumbersInner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding: 50px 0;
                .counterItem {
                    text-align: center;
                    margin: 20px 0;
                    .counterNumber{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span{
                            font-size: 60px;
                            font-weight: 600;
                        }
                    }
                }
                @include sm{
                    .counterItem {
                        width: 50%;
                    }
                }
                @include xs{
                    .counterItem {
                        width: 100%;
                    }
                }
            }
            @include sm{
                margin: 50px 0;
            }
        }
        .sectionSeven , .sectionEight{
            .sectionSevenTopTitle{
                text-align: center;
                width: 70%;
                margin: auto;
                margin-bottom: 50px;
                @include sm{
                    width: 100%;
                }
            }
            .sectionSevenMain{
                display: flex;
                // align-items: center;
                justify-content: space-between;
                .sectiontwoImg{
                    width: 40%;
                    img{
                        border-radius: 20px;
                    }
                }
                .sectiontwoText{
                    width: 55%;
                    .faqContainer{
                        .answer{
                            display: none;
                            margin-top: 20px;
                        }
                        .faq {
                            border-bottom: 1px solid rgb(0 0 0 / 11%);
                            // margin-bottom: 20px;
                            padding: 20px 12px;
                            transition: all .4s;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        .faq.active{

                        }
                        .faqBoxs {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h3.question{
                                font-size: 18px;
                                font-weight: 700;
                                margin: 0;
                            }
                            svg{
                                transition: all .5s;
                                fill: black !important;
                            }
                        }
                    }
                    .generalButton {
                        margin-top: 20px;
                        float: left;
                    }
                }
                @include sm{
                    flex-direction: column;
                    .sectiontwoText , .sectiontwoImg{
                        width: 100%;
                        margin-bottom: 20px;
                    } 
                }
            }
            
        }
        .sectionEight{
            margin: 100px 0;
            .blogFeaturedContent{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                // gap: 40px;
                .latest-post{
                    width: 30%;
                    border-radius: 20px;
                    overflow: hidden;
                    border: 1px solid rgb(0 0 0 / 11%);
                    transition: .4s;
                    img{
                        width: 100%;
                    }
                    h2{
                        font-size: 22px;
                    }
                    .blogText{
                        padding: 0 20px 20px 20px;
                        .blogDetail{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 20px;
                            align-items: center;
                            .post-meta{
                                width: max-content;
                                height: max-content;
                                span{
                                    color: #cacaca;
                                    font-size: 13px;
                                    display: flex;
                                    align-items: center;
                                    svg{
                                        margin-left: 5px;
                                        path{
                                            stroke: #cacaca;
                                        }
                                    }
                                }
                            }
                            .read-more{
                                width: max-content;
                            }
                        }
                    }
                    &:hover{
                        background-color: rgb(0 0 0 / 3%);
                        transform: scale(1.02);
                    }
                }
            }
            @include sm{
                margin: 50px 0;
                .blogFeaturedContent{
                    gap: 20px 0;
                    .latest-post{
                        width: 48%;
                    }
                }
                
            }
            @include xs{
                .latest-post{
                    width: 100% !important;
                }
            }
        }
    }
}
.archiveBlog{
    .blogItemsCategory{
        position: relative;
        border-top: 1px solid rgba(0, 0, 0, 0.21);
        padding: 25px 0;
        margin: 25px 10px;
        .itemsCatParent{
            border: 1px solid rgba(0, 0, 0, 0.21);
            width: -moz-max-content;
            width: max-content;
            height: max-content;
            display: flex;
            margin: auto;
            padding: 5px 45px;
            border-radius: 20px;
            .blogCatItem{
                margin: 0;
                color: rgba(0, 0, 0, 0.21) !important;
            }
        }
        .activeCategory{
            background-color: $mainColor;
            border: 1px solid $mainColor;
            .blogCatItem{
                color: white !important;
            }

        }
        .swiper-button-next{
            // transform: rotate(180deg);
            right: -22px;
            &::after{
                content: none;
            }
        }
        .swiper-button-prev{
            left: -22px;
            &::after{
                content: none;
            }
        }
    }
    .blogFeaturedContent{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        .latest-post{
            border-radius: 20px;
            overflow: hidden;
            border: 1px solid rgb(0 0 0 / 11%);
            transition: .4s ;
            img{
                width: 100%;
            }
            h2{
                font-size: 22px;
            }
            .blogText{
                padding: 0 20px 20px 20px;
                .blogDetail{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    align-items: center;
                    .post-meta{
                        width: max-content;
                        height: max-content;
                        span{
                            color: #cacaca;
                            font-size: 13px;
                            display: flex;
                            align-items: center;
                            svg{
                                margin-left: 5px;
                                path{
                                    stroke: #cacaca;
                                }
                            }
                        }
                    }
                    .read-more{
                        width: max-content;
                    }
                }
            }
            &:hover{
                background-color: rgb(0 0 0 / 3%);
                transform: scale(1.02);
            }
        }
        @include sm{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }
        @include xs{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
.woocommerce-Reviews{
    .comment-respond{
        border: 1px solid #9b9b9b !important;
        border-radius: 15px;
        padding: 40px !important;
        .required-field-message,.comment-form-rating,label,.comment-form-cookies-consent{
            display: flex;
            align-items: center !important;
        }
         .comment-notes{
            display: none !important;
        }
        .comment-form-rating{
            justify-content: space-between;
            label{
                width: max-content;
            }
        }
        .comment-form-cookies-consent{
            label{
                margin-bottom: 0 !important;
                margin-right: 10px;
            }
        }
        input[type=submit]{
            font-size: 18px !important;
        }
    }
}
.leftSubmit{
    width: max-content !important;
    margin-right: auto;
    display: block !important;
}
.buttonSubmit{
    display: flex;
    justify-content: space-between;
    .rightSubmit,.leftSubmit,.submit{
        width: max-content !important;
        display: unset !important;
    }
}